#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main-container {
  display: flex;
  flex-direction: row;
}

.mini-container {
  border: solid red 1px;
}

.card-container {
  border: solid green 5px;
  display: flex;
}